@import 'normalize.css';
/*@import 'primevue/resources/primevue.min.css';*/
/*@import 'primevue/resources/themes/saga-blue/theme.css';*/
@import 'primevue/resources/themes/bootstrap4-dark-blue/theme.css';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectable {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

#app {
  height: 100%;
}
